.float-left { float: left; }
.float-right { float: right; }

.mb-15 { margin-bottom: 15px; }
.mr-15 { margin-right: 15px; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
