.float-left { float: left; }
.float-right { float: right; }

.mb-15 { margin-bottom: $gutter-width/2; }
.mr-15 { margin-right: $gutter-width/2; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
