// Other LESS files
@import "variables.scss";
@import "mixins.scss";

@import "classes.scss";

// Components
@import "components/buttons.scss";
@import "components/nav.scss";

// Pages
@import "pages/login.scss";
@import "pages/index.scss";
@import "pages/quiz.scss";
