@import "imports.scss";

a {
  color: $blue;

  &:hover {
    color: $blue;
  }
}

.profile {
  img {
    border-radius: 100%;
    width: 200px;
  }
}

.wrap > .container {
  padding-top: $gutter-width !important;
}
