// Buttons
.btn {
  border: 0;
  border-radius: 0;
  padding: $gutter-width/3 $gutter-width/2;
  transition: linear .1s;

  -webkit-box-shadow: $btnBoxShadow;
  -moz-box-shadow: $btnBoxShadow;
  box-shadow: $btnBoxShadow;

  &:active,
  &:focus {
    background-color: $blue !important;
    border: 0 !important;
    color: $white !important;
    outline: none !important;

    -webkit-box-shadow: $btnBoxShadow !important;
    -moz-box-shadow: $btnBoxShadow !important;
    box-shadow: $btnBoxShadow !important;
  }

  &:hover { border: 0; }

  &.btn-back {
    .glyphicon-chevron-left {
      margin-right: 10px;
      font-size: 12px;
    }
  }
}

.btn-primary {
  background-color: $blue;
  color: $white;

  &:hover {
    background-color: $white;
    color: $grey;
  }
}

.btn-secondary {
  background-color: $white;
  color: $grey;

  &:hover {
    background-color: $blue;
    color: $white;
  }
}

.btn-rounded { border-radius: $gutter-width; }
