.navbar {
  background-color: $white;
  border: 0;
  border-radius: 0;
  box-shadow: 0 8px 6px -6px #00000052;
  color: #333;

  a {
    color: #333 !important;

    &:hover {
      color: $blue !important;
    }
  }

  li.active,
  li.dropdown.open {
    a {
      background-color: transparent !important;
      color: $blue !important;
    }
  }
}

.admin-nav {
  .navbar {
    height: 32px;
    margin-bottom: 0;
    min-height: 0;

    a {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
