.site-login {
  background-color: white;
  padding: 30px;

  -webkit-box-shadow: 0px 0px 125px -50px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 125px -50px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 125px -50px rgba(0,0,0,0.75);

  .btn { width: 100%; }
}