// .quiz-table {
//   .table {
//     tbody {
//       tr {
//         td {
//           &:nth-child(2) {
//             text-align: center;
//           }
//         }
//       }
//     }
//   }
// }

.quiz-table {
  .btn {
    box-shadow: none;
  }
}
